* {
  box-sizing: border-box;
}
/* rules apply to the whole body */
body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #ededf6;
  color: #445776;
}
/* targeting header */
.header {
  display: flex;
  overflow: hidden;
  background-color: #32343d;
  padding: 20px 10px 20px 0px;
  margin: 0px;
  justify-content: space-between;
  
}
/* tageting only nav elements */
.header-right a {
  color: #92cccd;
  text-align: right;
  padding: 20px;
  text-decoration: none;
  font-size: 40px;
  line-height: 25px;
  border-bottom: 5px solid #92cccd;
  margin-right: 10px;
  
}
/* targeting the header and logo styles */
.header a.logo {
  font-size: 90px;
  font-weight: bold;
  background-color:#92cccd;
  color:#32343d;
  padding: 10px;
  text-decoration: none;
  justify-content: flex-start;
}

.header-right a.active {
  border-bottom: 5px solid #9fffff;
  color:#92cccd;
}

.header-right {
  float: right;
  
}
.section1 {
  display:flex;
  background-color: black;
  background-size: cover;
  width: 100%;
  background-image: url("../images/Nile.jpg");
  padding: 20px;
  justify-content: flex-end;
  
}
/* main content begins here */
.port {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  background-color:#92cccd;
  color:#32343d;
  width: 185px;
  padding: 10px;
  text-decoration: none;
}
/* targeting my picture and title */
.image2{
  margin: 0px;
}

.title1{
  width: 185px;
  float: right;
}
/* container 1 content styling */
.aboutme {
  display: flex;
  padding: 30px;
}

.aboutme1 {
  font-size: 35px;
  text-align: right;
  flex: 20%;
  padding: 0px 30px 0px 100px;
  border-right: 5px solid black;
  line-height: 1.4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.aboutme2 {
  padding-left: 20px;
  flex: 80%;
  font-size: 20px;
}
/* container 2 styling */
.mywork {
  display: flex;
  padding: 30px;
}
.mywork1 {
  font-size: 35px;
  text-align: right;
  flex: 20%;
  padding: 0px 30px 0px 100px;
  border-right: 5px solid black;
  line-height: 1.4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mywork2{
  padding-left: 20px;
  flex:80%;
}
.works{
  width: 100%;
  display:flex;  
}

.worksfull {
  
  display:flex;
  background-color: black;
  background-size: cover;
  flex: 100%;
  height: 400px;
  background-image: url("/MyPortfolio/Images/results-screenshot.png");
  background-repeat: no-repeat;
  padding: 20px 20px 20px 0px;
  border: 5px solid #92cccd;
  margin: 5px;
}
.port2 p{
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.port2 a{
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}
.port2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  background-color:#92cccd;
  color:#32343d;
  width: 185px;
  padding: 10px;
  align-self: flex-end;
  text-decoration: none;
  height: 70px;
  align-self: flex-end;
  line-height: 1em;
  
}

.worksquarter {
  display:flex;
  background-color: black;
  background-size: cover;
  flex: 50%;
  height: 150px;
  background-image: url("../images/sky1.jpg");
  background-repeat: no-repeat;
  padding: 20px 20px 20px 0px;
  border: 5px solid #92cccd;
  margin: 5px;
}
/* styling for the footer content */
.footer {
  display: flex;
  padding: 30px;
  width: 100%;
}

.footer1 {
  font-size: 35px;
  text-align: right;
  flex: 20%;
  padding: 0px 30px 0px 100px;
  border-right: 5px solid black;
  line-height: 1.4em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.footer2{
  padding-left: 20px;
  flex: 80%;  
  padding-top: 200px; 
}
.footer-right a{
  color: #32343d;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  width: 20%;
  border-bottom: 5px solid #32343d;
  margin-right: 10px;
}
.footer-right a:hover{
  border-bottom: 5px solid #32343d;
  color:#92cccd;
}
/* styling for hover targeted elements */ 
a:hover {
  background-color:#445776;
}

.worksquarter:hover{
  opacity: 0.2;
}
.worksfull:hover{
  opacity: 0.2;
}

.footer-right a.active{
  border-bottom: 5px solid #9fffff;
  color:#92cccd;   
  font-size: 20;
}  

@media screen and (max-width: 768px) {
  .header{
    flex-direction: column;
  }
  .aboutme, .mywork, .footer {
    flex-direction: column;
  }
  .aboutme1, .mywork1, .footer1 {
    border-bottom: 5px solid #32343d;
    border-right: 0;
    font-size: 35px;
  }
  .works, .footer2, .header-right {
    flex-direction: column;
  }
}
